* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #e8e1cc;
}
.hero {
  background-image: linear-gradient(
      to right bottom,
      rgba(19, 10, 2, 0.514),
      rgba(20, 18, 15, 0.575)
    ),
    url(./img/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg);
  mask-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1.8rem;
  color: #fff;
}
.nav {
  display: flex;
  gap: 0.5rem;
}
.menu-icon {
  font-size: 2rem;
}
.nav:hover,
.nav:active {
  cursor: pointer;
  color: #5c1a02bb;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100rem;
  margin: 15rem auto;
  color: #fff;
}
.hero-content:hover {
  cursor: pointer;
}
.hero-heading {
  font-size: 4rem;
}
.hero-text {
  display: flex;
  text-align: center;
  font-size: 1.8rem;
  width: 80rem;
  color: rgba(255, 255, 255, 0.719);
}
.hero-btn {
  padding: 1rem 2.5rem;
  background: none;
  font-size: 1.8rem;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 600;
}

/* ##################################### */
.description {
  /* max-width: 120rem; */
  margin: 4rem auto;
  font-size: 1.6rem;
  color: #1c1500;
}
.facilities {
  max-width: 95rem;
  margin: 4rem auto 8rem auto;
  text-align: center;
}
.facilities h2 {
  margin-bottom: 2rem;
  border-bottom: 2px solid #8a6802;
}
.facilities p {
  line-height: 2.5rem;
}
.packages-container {
  background-image: linear-gradient(
      to bottom,
      rgba(19, 10, 2, 0.473),
      rgba(20, 18, 15, 0.493)
    ),
    url(./img/alexander-kaunas-67-sOi7mVIk-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 120rem;
  margin: 4rem auto;
  padding: 4rem 0rem;
  height: 40rem;
}
.package-items {
  /* background-color: blueviolet; */
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.container h1,
h5 {
  text-align: center;
  color: #e8e1cc;
  line-height: 3rem;
}
.items {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.548);
  color: #e8e1cc;
}
.icon-container {
  background-color: #e8e1cc;
  padding: 2rem;
  height: 100%;
}
.icon-container ion-icon {
  color: #8a6802;
  font-size: 4rem;
}

/* Room Section */

.room-section {
  height: 90rem;
  overflow: hidden;
  max-width: 110rem;
  margin: 5rem auto;
}
.room-section h2 {
  text-align: center;
  margin-bottom: 6rem;
  border-bottom: 2px solid #8a6802;
  font-size: 3rem;
}

.rooms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  /* height: 90vh; */
}

.room {
  height: 35rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.room--1 {
  background-image: linear-gradient(
      to right top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./img/room\ image1.jpg");
}
.room--2 {
  background-image: linear-gradient(
      to right top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./img/alexander-kaunas-67-sOi7mVIk-unsplash.jpg");
}
.room--3 {
  background-image: linear-gradient(
      to right top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./img/room\ image3.jpeg");
}
.room--4 {
  background-image: linear-gradient(
      to right top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./img/room\ image1.jpg");
  /* background-position: top; */
}

.room-content {
  transform: translateY(280%);
  color: red;
  transition: all 0.8s ease-in-out;
}

.room:hover .room-content {
  transform: translateY(0%);
}

/* ///////////Menu////// */

.menu {
  margin: 9rem 0rem;
}
.menu h2,
h4 {
  text-align: center;
  color: #1c1500;
  font-size: 3rem;
}
.menu h4 {
  font-size: 1.6rem;
  /* border-bottom: 2px solid #8a6802; */
}
.menu-container {
  margin-top: 4rem;
  height: 50rem;
  background-image: linear-gradient(
      to right,
      rgba(12, 11, 9, 0.541),
      rgb(5, 5, 5)
    ),
    url(./img/femoree-kn_ANxnwCQ0-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.food-list ul {
  list-style: none;
  color: #e8e1cc;
  font-size: 2rem;
  line-height: 4rem;
}
.food-list img {
  height: 2rem;
}

.food-container {
  height: 40rem;
  /* background-color: #8a6802; */
  /* width: 10rem; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.food-container img {
  height: 100%;
  width: 20rem;
}

/* /////////CUSTOMERS */
.customers-section {
  max-width: 110rem;
  margin: 4rem auto;
}
.customer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.customer {
  background-color: #e9e0c5b2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: 30rem;
}
.customer img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

/* ///////////////footer */
footer {
  height: 30rem;
  background-color: #080807;
  color: #e8e1cc;
}
